<div class="slide" id="bxp">
	<div class="container padding_top_100">

		<div class="taglinebanner withbackground taglinebanner_top">
			<h2><b>Un nouveau regard sur vos baux et projets immobiliers</b></h2>
			<p>Conseil indépendant pour les utilisateurs</p>
		</div>

	</div>
</div>

<div class="slide gradient">
	<div class="container">

		<div class="cards_container">
			<div class="card">
				<h3><span class="blue">Analyse</span> immobilière</h3>
				<br>
				<p>Audit des baux, visite des implantations, identification des actions possibles, définition des orientations immobilières</p>
				<br>
				<img src="search.svg">
			</div>
			<div class="card">
				<h3><span class="blue">Gestion</span> des opérations</h3>
				<br>
				<p>Locataire unique ou multi-sites, nous menons à bien vos projets immobiliers et vous représentons auprès de votre bailleur</p>
				<img src="suitcase.svg">
			</div>
			<div class="card">
				<h3><span class="blue">Optimisation</span> des pratiques et des données</h3>
				<p>Suivi et gestion des baux, consolidation des informations et documents, rédaction de charte immobilière, entretien des locaux</p>
				<img src="graph.svg">
			</div>
		</div>

		<p class="lonely_description">L’immobilier d’entreprise est un milieu opaque, régi par des règles et des pratiques souvent méconnues des utilisateurs. <br>
		Nous avons à coeur de vous informer et de vous accompagner pour faire de vos locaux d’entreprise des espaces adaptés à vos besoins, maîtrisés dans leurs coûts et leur durée.
		</p>

	</div>
</div>

<div class="slide" id="palette">
	<div class="container padding_top_50 centered">
		<h2>Notre palette de <span class="blue">services</span></h2>
		<p class="container_explanation">We charge a transparent flat fee to manage claims and cover operational costs. The rest is used to pay your claims, fast.</p>

		<div class="services_container">
			<div class="service">
				<img src="audit.svg">
				<p>Audit de bail ou de parc immobilier</p>
			</div>
			<div class="service">
				<img src="nego.svg">
				<p>Négociation</p>
			</div>
			<div class="service">
				<img src="faisabilite.svg">
				<p>Etude de faisabilité</p>
			</div>
			<div class="service">
				<img src="opportunites.svg">
				<p>Recherche d'opportunités</p>
			</div>
		</div>

		<div class="services_container">
			<div class="service">
				<img src="vente.svg">
				<p>Vente de bien</p>
			</div>
			<div class="service">
				<img src="pilotage.svg">
				<p>Pilotage d'opérations</p>
			</div>
			<div class="service">
				<img src="successeur.svg">
				<p>Recherche de successeur</p>
			</div>
			<div class="service">
				<img src="restitution.svg">
				<p>Restitution de site</p>
			</div>
		</div>
	</div>
</div>

<div class="slide gradient" id="duo">
	<div class="container padding_top_50 centered">
		<h2>Notre <span class="blue">duo</span></h2>

		<div class="avatar_container">
			<div class="founder">
				<img src="clara.png" class="avatar">
				<h3>Clara Maquet</h3>
			</div>
			<div class="founder">
				<img src="laurence.png" class="avatar">
				<h3>Laurence Roy</h3>
			</div>
		</div>

		<p class="lonely_description">Diplômées de Masters en Droit de l’Immobilier à Paris II Panthéon Assas, en Droit de l’Environnement & de l’urbanisme à l’ESI, en Promotion Construction à l’ICH, et après plus de 15 ans d’expérience cumulée dans la gestion immobilière & le conseil utilisateur, nous sommes aujourd’hui heureuses d’avoir créé “bxp.” pour accompagner les utilisateurs et contribuer au changement dans le secteur de l’immobilier.
		</p>

	</div>
</div>

<!-- <div class="slide">
	<div class="container">
		
		<div class="content_slice">
			<div class="paragraph_left">
				<h3>This is a title <span class="blue">with colored words</span></h3>
				<p>Answer a few questions, we'll offer the best insurance to match your needs at unbeatable prices. Everything is explained in a clear and simple way, no more baffling insurance jargons.</p>
				<div class="paragraph_higlight_left">
					<img src="handshake.svg"><p><span class="bolder">Sub heavy text</span> with lighter beside</p>
				</div>
			</div>
			<div class="paragraph_illustration">
				…
			</div>
		</div>

		<div class="content_slice">
			<div class="paragraph_illustration">
				…
			</div>
			<div class="paragraph_right">
				<h3>This is a title <span class="blue">with colored words</span></h3>
				<p>Answer a few questions, we'll offer the best insurance to match your needs at unbeatable prices. Everything is explained in a clear and simple way, no more baffling insurance jargons.</p>
				<div class="paragraph_higlight_right">
					<p><span class="bolder">Sub heavy text</span> with lighter beside</p><img src="handshake.svg">
				</div>
			</div>
		</div>

		<div class="content_slice">
			<div class="paragraph_left">
				<h3>This is a title <span class="blue">with colored words</span></h3>
				<p>Answer a few questions, we'll offer the best insurance to match your needs at unbeatable prices. Everything is explained in a clear and simple way, no more baffling insurance jargons.</p>
				<div class="paragraph_higlight_left">
					<img src="handshake.svg"><p><span class="bolder">Sub heavy text</span> with lighter beside</p>
				</div>
			</div>
			<div class="paragraph_illustration">
				…
			</div>
		</div>

	</div>
</div> -->

<div class="slide" id="contact">
	<div class="container padding_top_50 centered">
		<h2>Nous <span class="blue">contacter</span> ?</h2>
		<p class="container_explanation">Nous sommes à votre disposition pour échanger sur une situation que vous rencontrez ou un projet immobilier pour votre entreprise. <br>
		Laissez nous vos coordonnées par mail, nous vous contacterons au plus vite !</p>
		<a href="mailto:contact@bxp-conseil.fr" class="mainbutton">Envoyer un email</a>
	</div>

</div>

<div class="slide">
	<div class="container padding_top_50">

		<div class="taglinebanner taglinebanner_bottom">
			<h2>Tout votre immobilier en temps réel,<br> à tout moment. <span class="beta">Beta</span></h2>
			<p class="paragraph_position">
				<span class="blue">Favorise</span> la synergie entre les différents services de l’entreprise <br>
				<span class="blue">Simplifie</span> l’accès aux données et la gestion des documents <br>
				<span class="blue">Optimise</span> le suivi des actions en cours et les prises de décision
			</p>
			<img src="wireframe.svg">
		</div>

	</div>
</div>