<div class="container">
	<div class="header">
		This is the header of the page
	</div>
</div>

<div class="slide">
	<div class="container top20">
		First slide
	</div>
</div>

<div class="slide blue">
	<div class="container">
		Second slide
	</div>
</div>

<div class="slide">
	<div class="container">
		Third slide
	</div>
</div>

<div class="slide brown">
	<div class="container">
		Fourth slide
	</div>
</div>

<div class="slide">
	<div class="container">
		Fifth slide
	</div>
</div>

<div class="footer">
	<div class="container">
		Footer
	</div>
</div>