<div class="slide">
	<div class="container padding_top_100">

		<div class="taglinebanner withbackground">
			<h2><b>Un nouveau regard sur vos baux et projets immobiliers</b></h2>
			<p>Nous analysons, négocions, recherchons pour vous !</p>
		</div>

	</div>
</div>

<div class="slide gradient">
	<div class="container">

		<div class="cards_container">
			<div class="card">
				<h3><span class="blue">Audit</span> de qualité</h3>
				<p>Texte à trouver, je n’ai pas d’inspiration</p>
				<img src="shiny.svg">
			</div>
			<div class="card">
				<h3><span class="blue">Optimisation</span> des coûts</h3>
				<p>Texte à trouver, je n’ai pas d’inspiration</p>
				<img src="optim.svg">
			</div>
			<div class="card">
				<h3><span class="blue">Recherche</span> sur mesure</h3>
				<p>Texte à trouver, je n’ai pas d’inspiration</p>
				<img src="search.svg">
			</div>
		</div>

		<p class="lonely_description">We charge a transparent flat fee to manage claims and cover operational costs. The rest is used to pay your claims, fast. At the end of the year, if there is money left unused, we donate it to the charity you've chosen.
		With Luko’s Giveback, our revenue is fixed, we don't profit by denying your claims.</p>

	</div>
</div>

<div class="slide">
	<div class="container padding_top_50 centered">
		<h2>Notre palette de <span class="blue">services</span></h2>
		<p class="container_explanation">We charge a transparent flat fee to manage claims and cover operational costs. The rest is used to pay your claims, fast.</p>

		<div class="services_container">
			<div class="service">
				<img src="audit.svg">
				<p>Audit de bail ou de parc immobilier</p>
			</div>
			<div class="service">
				<img src="nego.svg">
				<p>Négociation</p>
			</div>
			<div class="service">
				<img src="faisabilite.svg">
				<p>Etude de faisabilité</p>
			</div>
			<div class="service">
				<img src="opportunites.svg">
				<p>Recherche d'opportunités</p>
			</div>
		</div>

		<div class="services_container">
			<div class="service">
				<img src="vente.svg">
				<p>Vente de bien</p>
			</div>
			<div class="service">
				<img src="pilotage.svg">
				<p>Pilotage d'opérations</p>
			</div>
			<div class="service">
				<img src="successeur.svg">
				<p>Recherche de successeur</p>
			</div>
			<div class="service">
				<img src="restitution.svg">
				<p>Restitution de site</p>
			</div>
		</div>
	</div>
</div>

<div class="slide gradient">
	<div class="container padding_top_50 centered">
		<h2>Notre <span class="blue">duo</span></h2>

		<div class="avatar_container">
			<div class="founder">
				<img src="clara.png" class="avatar">
				<h3>Clara Maquet</h3>
			</div>
			<div class="founder">
				<img src="laurence.png" class="avatar">
				<h3>Laurence Roy</h3>
			</div>
		</div>

		<p class="lonely_description">Après des Masters en Droit de l’Immobilier à Paris II Panthéon Assas, en Droit de l’Environnement et de l’urbanisme à l’ESI, en Promotion Construction à l’ICH, et plus de 15 ans d’expérience cumulée dans la gestion immobilière et le conseil utilisateur…
		<br><br>
		Nous sommes aujourd’hui heureuses de pouvoir vous assurer une gestion optimale des aspects <b>juridiques, techniques et économiques</b> de votre parc immobilier, tout en vous transmettant les bonnes pratiques dans l’exploitation de vos locaux, au fur et à mesure de chaque nouvelle mission.
		</p>

	</div>
</div>

<!-- <div class="slide">
	<div class="container">
		
		<div class="content_slice">
			<div class="paragraph_left">
				<h3>This is a title <span class="blue">with colored words</span></h3>
				<p>Answer a few questions, we'll offer the best insurance to match your needs at unbeatable prices. Everything is explained in a clear and simple way, no more baffling insurance jargons.</p>
				<div class="paragraph_higlight_left">
					<img src="handshake.svg"><p><span class="bolder">Sub heavy text</span> with lighter beside</p>
				</div>
			</div>
			<div class="paragraph_illustration">
				…
			</div>
		</div>

		<div class="content_slice">
			<div class="paragraph_illustration">
				…
			</div>
			<div class="paragraph_right">
				<h3>This is a title <span class="blue">with colored words</span></h3>
				<p>Answer a few questions, we'll offer the best insurance to match your needs at unbeatable prices. Everything is explained in a clear and simple way, no more baffling insurance jargons.</p>
				<div class="paragraph_higlight_right">
					<p><span class="bolder">Sub heavy text</span> with lighter beside</p><img src="handshake.svg">
				</div>
			</div>
		</div>

		<div class="content_slice">
			<div class="paragraph_left">
				<h3>This is a title <span class="blue">with colored words</span></h3>
				<p>Answer a few questions, we'll offer the best insurance to match your needs at unbeatable prices. Everything is explained in a clear and simple way, no more baffling insurance jargons.</p>
				<div class="paragraph_higlight_left">
					<img src="handshake.svg"><p><span class="bolder">Sub heavy text</span> with lighter beside</p>
				</div>
			</div>
			<div class="paragraph_illustration">
				…
			</div>
		</div>

	</div>
</div> -->

<div class="slide">
	<div class="container padding_top_50 centered">
		<h2>Nous <span class="blue">contacter</span> ?</h2>
		<p class="container_explanation">We charge a transparent flat fee to manage claims and cover operational costs. The rest is used to pay your claims, fast. At the end of the year, if there is money left unused, we donate it to the charity you've chosen.
		With Luko’s Giveback, our revenue is fixed, we don't profit by denying your claims.</p>
		<a href="mailto:contact@bxp-conseil.fr" class="mainbutton">Envoyer un email</a>
	</div>

</div>

<div class="slide">
	<div class="container padding_top_50">

		<div class="taglinebanner">
			<h2>Tout votre immobilier<br>en temps réel</h2>
			<p>Notre plateforme de gestion de parc vous accompagnera partout,<br> en tout temps !</p>
			<img src="wireframe.svg">
		</div>

	</div>
</div>