<div class="slide">
	<div class="container padding_top_100">
		Conformément aux dispositions de l'article 6 III 1 de la loi n°2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, nous vous informons que le présent site est édité par la société BXP : <br><br>

		<b><u>Siège social</u></b> <br><br>
		3 avenue d'Argenteuil
		92600 Asnières-sur-Seine - FRANCE

		<br><br>

		<b><u>Représentant légal</u></b> <br><br>
		
		Laurence ROY - Présidente | <a href="mailto:contact@bxp-conseil.fr">contact@bxp-conseil.fr</a>

		<br><br>

		<b><u>Immatriculation</u></b> <br><br>

		Immatriculation au Registre du commerce et des sociétés de Nanterre 92 <br>
		Numéro d’immatriculation de l’entreprise : 881 691 208 00014

		<br><br>

		Société par actions simplifiées <br>
		Numéro d’identification TVA : FR 36881691208

		<br><br>

		<b><u>Hébergeur du site</u></b> <br><br>

		Heroku Incorporeted • 
		650 7th St, San Francisco, CA, 94103, United States <br>
		https://www.heroku.com/contact <br>
		Serveur localisé en Union Européenne <br>
		Site développé par <a href="mailto:matthieu.harbonnier@gmail.com">Matthieu H.</a>

		<br><br><br>
	    <a href="./" class="mainbutton">Retour à l'accueil</a>
		
	</div>
</div>