/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap');
@import url('buttons.css');
@import url('footer.css');
body{
	font-family: 'Montserrat';
	font-size: 15px;
	margin:0;
}
.container{
	width:1200px;
	margin:0 auto;
	height:auto;
	color:#898D98;
	//background-color: pink;
}
.container > h2{
	margin:0;
	color: #020202;
}
.container_explanation{
	width: 670px;
	margin: 30px auto 60px auto;
}
.centered{
	text-align: center;
}
.blue{
	color:#215CFE;
}
.bolder{
	font-weight: 500;
}

@media (max-width: 767px) {
	body{
		overflow-x: hidden;
	}
	.container{
		width:100%;
	}
	.container_explanation{
		display: none;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	body{
		/*background-color: red;*/
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	body{
		/*background-color: green;*/
	}
}
@media (min-width: 1200px) {
	body{
		/*background-color: orange;*/
	}
}