.footer{
	background-image: url("background.svg");
	background-repeat: repeat;
	background-color:#225CFE;
}
.footer-content{
	display: flex;
	align-items: center;
	justify-content:space-between;
	height:80px;
	color:white;
	font-size: 12px;
	padding: 0 50px;

}
.footer-content > img{
	flex-grow:1;
}
.legals{
	display: flex;
	align-items: center;
	justify-content:space-between;
	width: 180px;
}