// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.slide{
	padding-bottom:50px;
}
.gradient{
	background: rgb(230,237,255);
	background: linear-gradient(0deg, #f1f5ff 0%, rgba(255,255,255,0.668504902) 100%);
}
.padding_top_100{
	padding-top: 100px;
}
.padding_top_50{
	padding-top: 50px;
}
.taglinebanner{
	position:relative;
	background-color:#F3F6FE;
	width:1200px;
	border-radius:8px;
}
.taglinebanner_top{
	height:215px;
}
.taglinebanner_bottom{
	height:240px;
}
.withbackground{
	background-image: url("background-main-banner.svg");
	background-repeat: repeat;
}
.taglinebanner > h2{
	position:absolute;
	top:35px;
	left:80px;
	color:#020202;
	font-size:32px;
	font-weight:500;
}
.taglinebanner > p{
	position:absolute;
	top:110px;
	left:80px;
	color:#898D98;
	font-size:16px;
	font-weight:400;
}
.taglinebanner .paragraph_position{
	top:140px;
}
.taglinebanner > img{
	position:absolute;
	top:50px;
	right:70px;
}
.cards_container{
	display:flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content:space-between;
	padding:0 90px;
}
.lonely_description{
	margin-top:40px;
	color:#898D98;
	padding:0 130px;
	text-align:justify;
}
.content_slice{
	display: flex;
	align-items: center;
	justify-content:space-between;
	margin:50px 60px 0 50px;
}
.services_container{
	display:flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content:space-between;
}
.avatar_container{
	display:flex;
	align-items: center;
	justify-content:space-between;
	padding:0 340px;
	margin-top:30px;
}

@media (max-width: 767px) {
	.slide{
		padding-bottom:0;
	}
	.taglinebanner{
		width:100%;
		border-radius:0px;
		text-align:center;
	}
	.padding_top_100{
		padding-top: 30px;
	}
	.padding_top_50{
		padding-top: 20px;
	}
	.taglinebanner > h2{
		position:relative;
		width:300px;
		top:auto;
		left:auto;
		margin:30px auto;
		padding-top:30px;
		font-size:25px;
		font-weight:500;
	}
	.taglinebanner > p{
		top:auto;
		left:auto;
		margin:0 auto;
		padding:0 30px;
		color:#898D98;
		font-size:16px;
	}
	.cards_container{
		width:auto;
		padding:0 0;
	}
	.services_container{
		width:auto;
		padding:0 0;
		margin-top:15px;
	}
	.avatar_container{
		padding:0 60px;
	}
	.lonely_description{
		margin-top:18px;
		padding:10px 30px 25px;
		font-size:14px;
	}
	.taglinebanner > img{
		visibility:hidden;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.slide{
		padding-bottom:30px;
	}
	.taglinebanner{
		width:95%;
		margin:0 auto;
	}
	.padding_top_100{
		padding-top: 120px;
	}
	.cards_container{
		width:auto;
		padding:0 0;
	}
	.taglinebanner > h2{
		top:15px;
		left:60px;
	}
	.taglinebanner > p{
		top:130px;
		left:60px;
	}
	.services_container{
		width:auto;
		padding:0 110px;
		margin-top:15px;
	}
	.avatar_container{
		padding:0 230px;
	}
	.taglinebanner > img{
		visibility:hidden;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.slide{
		padding-bottom:30px;
	}
	.padding_top_100{
		padding-top: 120px;
	}
	.cards_container{
		width:auto;
		padding:0 0;
		margin:0 30px;
	}
	.taglinebanner{
		width:95%;
		margin:0 auto;
	}
	.taglinebanner > h2{
		top:20px;
	}
	.taglinebanner > p{
		top:130px;
	}
	.avatar_container{
		padding:0 270px;
	}
	.services_container{
		width:auto;
		padding:0 50px;
		margin-top:15px;
	}
	.taglinebanner > img{
		width:70%;
		height:70%;
		top:35px;
		right:-180px;
	}
}