<div class="footer">
  <div class="container">
    <div class="footer-content">
      <p>Tous droits réservés © bxp. 2020</p>
      <img src="logo_footer.svg">
      <div class="legals">
        <p>
          <%= link_to "Mentions légales", mentions_legales_path %>
        </p>
        <p>
          <a href="mailto:contact@bxp-conseil.fr">Contact</a>
        </p>
      </div>
    </div>
  </div>
</div>