<div class="header">
  <div class="container">
    <div class="header_content">

      <%= link_to root_path do%>
        <div class="main_logo"></div>
        <!-- <img src="logo_header.png" class="main_logo"> -->
      <%end%>

      <a href="javascript:void(0);" class="mobile_menu" onclick="expandMobileMenu()">
        Menu
      </a>
      
      <ul id="expanded_menu">
        <li>
          <a href="#bxp">bxp.</a>
        </li>
        <li>
          <a href="#palette">Notre palette de services</a>
        </li>
        <li>
          <a href="#duo">Notre duo</a>
        </li>
        <li class="nopadding">
          <a href="#contact">Nous contacter</a>
        </li>
      </ul>

    </div>
  </div>
</div>